/* common shared styles */
nav h3{
    font-family: 'lato',sans-serif;
}
nav ul li{
    font-family: 'open sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.text-primary{
    color: #FD6E0A;
}
.text-primary-2{
    color: blue;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-ttl{
    color: #181818;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'lato',sans-serif;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-family: 'lato',sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.bnr-greeting{
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
    font-family: 'lato',sans-serif;
    font-weight: 200;
}
.bnr-title{
    font-size: 80px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'lato',sans-serif;
}
.bnr-p{
    font-family: 'open sans',sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #757575;
    font-size: 15px;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}
.about-main-info{
    display: flex;
    justify-content: space-around;
    font-family: 'lato',sans-serif;
}
.about-info{
    text-align: center;
}
/*skill related styles*/
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    font-family: 'lato',sans-serif;
    gap: 24px;
}
.skill{
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #171717;
}
.skill-discription{
    color: #757575;
    font-size: 15px;
}













































































